/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/munhu.webp') no-repeat center top;
  background-size: contain;
  background-color: #11b005;
  border-radius: 50px;
}
